<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="TaxiMail" value="hzachiel@paz-ar.co.il,tzahi556@gmail.com" />
    <add key="BusMail" value="hzachiel@paz-ar.co.il" />
    <!--<add key="mail_smtp" value="Outlook.paz.local" />
    <add key="mail_user" value="wrk_mirkam" />
    <add key="mail_pass" value="mp123$" />
    <add key="mail_port" value="25" />
    <add key="mail_sender" value="wrk_mirkam@arf.co.il" />-->

	  <add key="mail_smtp" value="172.22.11.6" />
	  <add key="mail_port" value="25" />
	  <add key="UseDefaultCredentials" value="false" />
	  <add key="mail_user" value="wrk_mirkam" />
	  <add key="mail_pass" value="mp123$" />
	  <add key="mail_sender" value="wrk_mirkam@arf.co.il" />
	  
	  <add key="From" value="hzachiel@arf.co.il" />
      <add key="To" value="mp123$" />
	  
	  
	  
	  
  </appSettings>
  <!--<configSections>
    <section name="oracle.manageddataaccess.client"d type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </configSections>-->
  <system.web>
	
	  
    <!--<globalization
    requestEncoding="Windows-1255"
    responseEncoding="Windows-1255"/>-->
    <httpRuntime requestValidationMode="2.0" />
    <customErrors mode="Off" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--<add assembly="Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89B483F429C47342" />-->
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
  </system.web>
  <connectionStrings>
    <!--<add name="dbDataConnectionString" connectionString="Data Source=sqlbz\qa;Initial Catalog=ShiftPlanning;Persist Security Info=True;User ID=dba_testing;Password=d@t@b@$E10QA" providerName="System.Data.SqlClient" />-->
    <!--<add name="dbDataConnectionString" connectionString="Data Source=sqlbz\DEV;Initial Catalog=ShiftPlanning;Persist Security Info=True;User ID=dba_developers;Password=d@t@b@$E10" providerName="System.Data.SqlClient" />-->
      <add name="dbDataHarmonyConnectionString" connectionString="Data Source=BZSQL;Initial Catalog=Harmony;Persist Security Info=True;User ID=wrk_shiftplanning;Password=Shift$Plan%6" providerName="System.Data.SqlClient" />
	<!--<add name="dbDataHarmonyConnectionString" connectionString="Data Source=sqlbz\qa;Initial Catalog=harmony;Persist Security Info=True;User ID=harmony_access;Password=Access1010" providerName="System.Data.SqlClient" />-->
   <!--<add name="dbNipukimConnectionString" connectionString="User Id=mpreport;Password=mpreport;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=bznipukdb)(PORT=1521))(CONNECT_DATA=(SID=NIPUKIMA)));" providerName="Oracle.DataAccess.Client" />-->
    <!--<add name="dbDataConnectionString" connectionString="Data Source=sqlbz\qa;Initial Catalog=ShiftPlanning;Persist Security Info=True;User ID=dba_testing;Password=d@t@b@$E10QA" providerName="System.Data.SqlClient" />-->
   <!--<add name="dbDataConnectionString" connectionString="Data Source=BZSQLQA;Initial Catalog=ShiftPlanning;Persist Security Info=True;User ID=dba_testing;Password=d@t@b@$E10QA" providerName="System.Data.SqlClient" />-->
	  <!--שרת prod חדש-->
	<!--<add name="dbDataConnectionString" connectionString="Data Source=BZSQL;Initial Catalog=ShiftPlanning;Persist Security Info=True;User ID=sa;Password=P@ssw0rdForSQL!" providerName="System.Data.SqlClient" />-->  

	  
	  <!--שרת qa חדש-->
	  <add name="dbDataConnectionString" connectionString="Data Source=BZSQLQA;Initial Catalog=ShiftPlanning;Persist Security Info=True;User ID=dba_testing;Password=d@t@b@$E10QA" providerName="System.Data.SqlClient" />
	  <!--<add name="dbDataConnectionString" connectionString="Data Source=BZSQL;Initial Catalog=ShiftPlanning;Persist Security Info=True;User ID=wrk_shiftplanning;Password=Shift$Plan%6" providerName="System.Data.SqlClient" />-->
	  <!--<add name="dbDataConnectionString" connectionString="Data Source=BZSQLQA\DEV;Initial Catalog=ShiftPlanning;Persist Security Info=True;User ID=wrk_shiftplanning;Password=Shift$Plan%6" providerName="System.Data.SqlClient" />-->

	  <!--שרת ישן sa-->
	  <!--<add name="dbDataConnectionString" connectionString="Data Source=SQLBZ;Initial Catalog=ShiftPlanning;Persist Security Info=True;User ID=sa;Password=Sm$30190!" providerName="System.Data.SqlClient" />-->


	  <!--סיסמה למשתמש של חיבור משמרות לסאפ סביבת bzsqlqa PI_@ssw0rdForSQL!-->

	  <!--פרודקשן PI_@ssw0rdForSQL!-->

	  <!--<add name="dbDataConnectionString" connectionString="Data Source=sqlbz.paz.local;Initial Catalog=ShiftPlanning;Persist Security Info=True;User ID=wrk_shiftplanning;Password=Shift$Plan%6" providerName="System.Data.SqlClient" />-->
	  <!--<add name="dbNipukimConnectionString" connectionString="User Id=mpreport;Password=mpreport;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=bznipukdb)(PORT=1521))(CONNECT_DATA=(SID=NIPUKIMA)));" providerName="Oracle.DataAccess.Client" />
	 
	  <add name="dbDataHarmonyConnectionString" connectionString="Data Source=sqlbz.paz.local;Initial Catalog=Harmony;Persist Security Info=True;User ID=wrk_shiftplanning;Password=Shift$Plan%6" providerName="System.Data.SqlClient" />-->
	 
  </connectionStrings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <!--<add name="X-UA-Compatible" value="IE=EmulateIE8"/>-->
        <!-- IE8 rendering different from iis7 on ie7 and ie8 -->
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <remove value="Default.htm" />
        <remove value="Default.asp" />
        <remove value="index.htm" />
        <remove value="index.html" />
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.122.19.1" newVersion="4.122.19.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>-->
</configuration>